version: '3.8'
services:
  backend1:
    build: ./backend
    depends_on:
      - db

  backend2:
    build: ./backend
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

  db:
    build: ./db
    volumes:
      - db-data:/var/lib/postgresql/data

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend1
      - backend2

volumes:
  db-data:
